* {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3em;
    letter-spacing: .05em;
}

h3 {
    width: 9em;
    height: 1.75em;
    text-align: center;
    font-size: 2em;
    letter-spacing: .061em;
    border: .25em solid #fff;
    border-radius: 2em;
}

div {
    width: 70%;
    height: 50%;
}

img {
    margin: 0 2em;
    width: 6.5em;
    height: 50%;
    font-size: 1.35em;
    border: .25em solid gray; 
    border-radius: 2em;
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    align-items: center;
}

.row {
    flex-direction: row;
    justify-content: space-between;
}

#versus {
    color: rgb(97, 97, 97);
}

#choices {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -10em;
}

#result {
    color: #000;
    font-size: 1.75em;
    position: relative;
    bottom: 30%;
    margin-top: 1.5em;
}

#reset {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%; 
    
}

#reset-btn {
    width: 15em;
    height: 2.75em;
    border-radius: 2em;
    font-size: 2em;
    position: relative;
    top: -4.5em;
}