* {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3em;
    letter-spacing: .05em;
}

h3 {
    width: 9em;
    height: 1.75em;
    text-align: center;
    font-size: 2em;
    letter-spacing: .061em;
    border: .25em solid #fff;
    border-radius: 2em;
}

div {
    width: 70%;
    height: 50%;
}

img {
    margin: 0 2em;
    width: 7em;
    height: 50%;
    font-size: 1.35em;
    border: .25em solid gray; 
    border-radius: 2em;
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    align-items: center;
}

.row {
    flex-direction: row;
    justify-content: space-between;
}

#versus {
    color: rgb(97, 97, 97);
}

#choices {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: -10em;
}

#result {
    color: #000;
    font-size: 1.75em;
    position: relative;
    bottom: 30%;
    margin-top: 1.5em;
}

#scores {
    position: absolute;
    left: 2%;
    width: 10em;
    height: 12em;
}

#scores > h4 {
    width: 100%;
    line-height: 3em;
    background-color: #808080;
    color: #fffff0;
    text-align: center;
    margin-top: 0;
    letter-spacing: 0.25em;
    border-radius: 2em;
}

#scores > h5 {
    margin-top: 2%;
}

#scores > button {
    width: 75%;
    height: 1.5em;
    border-radius: 1em;
    font-size: 1em;
    padding: 0;
}